@import "variables.module";

.main {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 71.75rem;
  min-height: calc(100vh - 5.625rem);
  margin: 0 auto 6rem;

  @media (min-width: $breakpoint-small) {
    background-image: url(/rock-paper-coin.jpg);
    background-position: 50%;
    background-size: cover;
    margin-bottom: 0;
    max-width: 100vw;
    width: 100%;
  }
}

.login {
  &__form_wrapper {
    background-color: #fff;
    width: 100vw;
    padding: 0 1.5rem;
    margin: auto;

    @media (min-width: $breakpoint-small) {
      -webkit-box-shadow: 30px 30px 60px 0 rgb(74 74 74 / 25%);
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid hsla(300, 1%, 81%, 0.37);
      box-shadow: 30px 30px 60px 0 rgb(74 74 74 / 25%);
      margin: auto;
      padding: 1.25rem 8rem;
      width: 39.563rem;
    }
  }

  &__form_header {
    color: $brand-1;
    font-size: 1.688rem;
    font-weight: bold;
    margin: 0px;
    text-align: left;

    @media (min-width: $breakpoint-small) {
      text-align: center;
    }
  }

  &__form_subtext {
    color: $brand-1;
    font-size: 1.125rem;
    margin: 0.5rem 0 0 0;
    text-align: left;

    @media (min-width: $breakpoint-small) {
      text-align: center;
    }
  }

  &__form {
    background-color: $brand-2;
    display: block;
    margin-top: 0em;
  }

  &__form_field {
    margin-top: 1.875rem;
    width: 100%;
  }

  &__form_field_label {
    -webkit-box-pack: justify;
    display: flex;
    font-size: 1.125rem;
    justify-content: space-between;
    margin: 0px;

    p {
      color: rgb(0, 0, 0);
      font-size: 1.125rem;
      margin: 0px;
      opacity: 0.5;
    }
  }

  &__form_field_input {
    border-radius: 5px;
    border: 1px solid rgba(207, 206, 207, 0.37);
    color: $brand-1;
    font-size: 1.125rem;
    height: 3rem;
    margin: 0.5rem 0px 0px;
    padding: 0.6rem 1rem;
    width: 100%;
    opacity: 0.6;

    &:focus-within {
      border: 1px solid $brand-3;
      outline: none;
    }
    &:hover:not(:focus-within) {
      border: 1px solid $brand-4;
    }
  }

  &__form_password_reset {
    cursor: pointer;

    &__text {
      color: rgb(0, 0, 0);
      font-size: 1.125rem;
      margin: 0px;
      opacity: 0.2;
      text-align: right;
    }
  }

  &__login_button {
    background-color: $brand-3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;

    &__content_container {
      display: flex;
      margin: auto;
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 0.03);
      pointer-events: none;
      &__text {
        color: rgb(0, 0, 0);
      }
    }

    &:hover:not(:disabled) {
      background-color: $brand-4;
    }

    &__text {
      font-size: 1.125rem;
      line-height: normal;
      margin: 0px;
    }
  }

  &__link_signup {
    margin: 3.813rem 0.125rem 0;
    text-align: center;
  }

  &__link_signup_anchor {
    color: $brand-4;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none;
    font-size: 1.125rem;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
